<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Scoreboard</title>
  <link rel="stylesheet" href="/stylesheets/main.css">
  <meta name="viewport" content="initial-scale=1">
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">

  <link rel="apple-touch-icon" href="/images/icon-iphone.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/images/icon-ipad.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/images/icon-iphone-retina.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/images/icon-ipad-retina.png">

  <link rel="shortcut icon" href="/images/favicon.png">

  <script>pusherKey = '2d114d0df3e7b825a420';</script>

  <script src="//cdnjs.cloudflare.com/ajax/libs/pusher/2.2.4/pusher.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
  <scores>
</scores>

  <div class="action-bar">
    <div class="action-bar__item__blue-score--increment"><img src="/images/add.svg" /></div>
    <div class="action-bar__item__blue-score--decrement"><img src="/images/subtract.svg" /></div>
    <div class="action-bar__item__reset"><img src="/images/reset.svg" /></div>
    <div class="action-bar__item__new-game"><img src="/images/play.svg" /></div>
    <div class="action-bar__item__red-score--decrement"><img src="/images/subtract.svg" /></div>
    <div class="action-bar__item__red-score--increment"><img src="/images/add.svg" /></div>
  </div>

  <script src="/tags/scores.tag" type="riot/tag"></script>
  <script src="/javascripts/main.js"></script>
  <script src="/javascripts/responsivevoice.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/riot/2.0.15/riot+compiler.min.js"></script>

  <script>
    riot.mount('scores', { players: <%= scores.to_json %> })
  </script>

</body>
</html>
