<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Scoreboard</title>
  <link rel="stylesheet" href="/stylesheets/main.css">
  <meta name="viewport" content="initial-scale=1">
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">

  <link rel="apple-touch-icon" href="/images/icon-iphone.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/images/icon-ipad.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/images/icon-iphone-retina.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/images/icon-ipad-retina.png">

  <link rel="shortcut icon" href="/images/favicon.png">

  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
  <menu></menu>

  <script src="/tags/menu.tag" type="riot/tag"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/riot/2.0.15/riot+compiler.min.js"></script>

  <script>
    riot.mount('menu')
  </script>

</body>
</html>
